<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Location</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div style="padding:16px">
        <h2>Location Sharing</h2>
        <p>If prompted, allow location access. This page shares your device location to the dashboard.</p>
        <p><a href="/admin">Go to Admin</a></p>
        <!-- <div id="status"></div> -->
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/js/device.js"></script>
</body>
</html>